@import url("https://fonts.googleapis.com/css2?family=Overpass");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

h1 {
  font-weight: 700;
  font-size: 38px;
  color: #fff;
  margin: 0;
  font-family: "Overpass";
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background-color: #d81377;
}
